﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="panel-group">
    <div class="panel panel-default">

        <div class="panel-heading">
            <button typeof="button" id="btn-add" class="btn btn-default" title="Create New">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create New
            </button>
        </div>

        <div class="panel-body">
            <div id="table-list">

            </div>
        </div>

    </div>
</div>

<div id="modal-form" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="panel-group">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 id="modal-title">Category</h3>
                </div>

                <div id="modal-body" class="modal-body panel-body">
                    <p>Modal body text goes here.</p>
                </div>

                <div id="modal-footer" class="modal-footer" style="display:none">

                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var progHtml = '<div class="progress progress-striped active" style="margin-bottom:0"><div class="progress-bar" style="width:100%"/></div>'

        $(document).ready(function ()
        {

            ShowList();
        });

        function ShowList()
        {
            $("#table-list").html(progHtml);

            $.ajax({
                url: '@Url.Action("List", "Dokumen")', /*nama method di controller, nama controller*/
                type: 'get', /*proses mengambil data dengan 'get' */
                success: function (result) {
                    $("#table-list").html(result);
                }
            });
        }


        $("#btn-add").click(function () {
            $("#modal-title").html("Dokumen");
            $("#modal-body").html(progHtml);
            $("#modal-form").modal("show");

            $.ajax({
                url: '@Url.Action("Create", "Dokumen")',
                type: 'get',
                success: function (result) {
                    $("#modal-body").html(result);
                }
            })
        });
    </script>
}