﻿@model IEnumerable<_2.Batch211.ViewModel.PelamarViewModel>

@foreach (var item in Model)
{
    <br />
    <div class="panel-group">
        <form class="container-fluid form-horizontal bg-gray-light">
            <div class="col-lg-11">
                <h3><b>@Html.DisplayFor(model => item.fullname)</b></h3>
                <div class="row">
                    <div class="col-lg-2">
                        @Html.DisplayNameFor(model => model.nick_name)
                    </div>
                    <div class="col-lg-2">
                        @Html.DisplayFor(modelItem => item.nick_name)
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        @Html.DisplayNameFor(model => model.email)
                    </div>
                    <div class="col-lg-8">
                        @Html.DisplayFor(modelItem => item.email)
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-2">
                        @Html.DisplayNameFor(model => model.phone_number1)
                    </div>
                    <div class="col-lg-2">
                        @Html.DisplayFor(modelItem => item.phone_number1)
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        Pendidikan
                    </div>
                    <div class="col-lg-8">
                        @Html.DisplayFor(modelItem => item.major) , @Html.DisplayFor(modelItem => item.school_name)
                    </div>
                </div>
                <br />
            </div>
            <div class="col-lg-1">
                <br />
                <br />
                <br />
                <div class="row">
                    <button type="button" value="Detail" class="btn_detil_grid" title="Detail" onclick="Detail()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" value="Token" class="btn_token_grid" title="Kirim Token">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
}

@Html.Partial("_PopUpPelamar")

<script type="text/javascript">

    function Detail() {
        /*configuration model*/
        $("#modal-title").html("Detail Pelamar");
        $("#modal-form-detail-pelamar").modal("show");
    };

</script>