﻿
<div class="modal fade skin-blue-light" id="modal-form-detail-pelamar" role="dialog">
    <div class="modal-dialog  modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body" id="modal-body">

                <div class="container-fluid">
                    <div class="row row-no-gutters">
                        <div class="col-sm-3">
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action">Profil</a>
                                <a class="list-group-item list-group-item-action">Biodata</a>
                                <a class="list-group-item list-group-item-action">Pengalaman Kerja</a>
                                <a class="list-group-item list-group-item-action">Pendidikan</a>
                                <a class="list-group-item list-group-item-action">Pelatihan</a>
                                <a class="list-group-item list-group-item-action">Sertifikasi</a>
                                <a class="list-group-item list-group-item-action">Sumber Lowongan Kerja</a>
                                <a class="list-group-item list-group-item-action">Organisasi</a>
                                <a class="list-group-item list-group-item-action">Keluarga</a>
                                <a class="list-group-item list-group-item-action">Keahlian</a>
                                <a class="list-group-item list-group-item-action">Lain - lain</a>
                                <a class="list-group-item list-group-item-action">Dokumen</a>
                                <a class="list-group-item list-group-item-action">Catatan</a>
                                <a class="list-group-item list-group-item-action">Aktivasi Akun</a>
                                <a class="list-group-item list-group-item-action">Lihat Tes</a>
                                <a class="list-group-item list-group-item-action">Hasil Tes</a>
                            </div>
                        </div>
                        <div class="col-sm-9">Content</div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" id="modal-footer">
            </div>
        </div>

    </div>
</div>


<script>
    function ProfilClick() {
        $("#modal-title").html("Detail Pelamar");
        $("#modal-form").modal("show");

         $.ajax({
                url: '@Url.Action("ProfilPelamar", "Pelamar")',
                type: 'get',
                success: function (result) {
                    $("#modal-body").html(result);
                }
            });
    }
</script>
