﻿@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="panel-group">
    <div class="panel panel-default">


        <div class="panel-body">
            <div class="panel-group col-lg-7 text-left">
                <input type="text" id="txt-search" name="txt-search" class="form-control" placeholder="Nama Pelamar" />
            </div>

            <div>
                <button type="button" class="btn btn-primary" id="btn-search" name="btn-search" onclick="Search()">Search</button>
                <button type="button" class="btn btn-primary" id="btn-reset" name="btn-reset" onclick="Reset()">Reset</button>
            </div>

            <div class="text-right">
                <button type="button" value="Ordered" class="btn_order_grid" title="Ordered" onclick="Ascending()">
                    <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                </button>
                <button type="button" value="Ordered" class="btn_order_grid" title="Ordered" onclick="Descending()">
                    <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                </button>
                <button type="button" value="RowperPage" class="btn_row_grid" title="Row per Page">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                </button>
                <button type="button" value="Tambah" class="btn_add_grid" title="Tambah" onclick="Tambah()">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
            </div>

            <div id="table-list">

            </div>

            <div class="pull-right">
                <button type="button" value="previous" class="btn_left_grid">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">Previous </span>
                </button>
                <button type="button" value="next" class="btn_right_grid">
                    Next<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>

    </div>
</div>


@*untuk popup start*@
<div id="modal-form-tambah-pelamar" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="panel-group">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Masukkan Biodata</h3>
                </div>

                <div id="modal-body" class="modal-body panel-body">
                    <p>Modal body text goes here.</p>
                </div>

                <div id="modal-footer" class="modal-footer" style="display:none">

                </div>

            </div>
        </div>
    </div>
</div>
@*untuk popup end*@



@Html.Partial("_PopUpPelamar")

@section scripts{
    <script type="text/javascript">

        function Tambah() {
            $("#modal-title").html("Pelamar");
            $("#modal-form-tambah-pelamar").modal("show");
        };


        function Search() {
            $.ajax({
                url: '@Url.Action("Search", "Pelamar")',
                type: 'post',
                data: { kataKunci : $("#txt-search").val() },
                success: function (result)
                {
                    $("#table-list").html(result);
                }
            });
        }

        function Reset() {
            $("#txt-search").val('');
        }

        function Ascending() {
            $.ajax({
                url: '@Url.Action("OrderByAsc", "Pelamar")',
                type: 'post',
                data: { kataKunci : $("#txt-search").val() },
                success: function (result)
                {
                    $("#table-list").html(result);
                }
            });
        }

        function Descending() {
            $.ajax({
                url: '@Url.Action("OrderByDesc", "Pelamar")',
                type: 'post',
                data: { kataKunci : $("#txt-search").val() },
                success: function (result)
                {
                    $("#table-list").html(result);
                }
            });
        }
    </script>
}