﻿@model _2.Batch211.ViewModel.KeahlianViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.skill_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.skill_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.skill_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.skill_level_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("skill_level_id", new SelectList(ViewBag.KeahlianList, "id", "name", "--Pilih--"), new { @class = "form-control" })
                @*@Html.DropDownListFor(model => model.skill_level_id, ViewBag.KeahlianList as SelectList, new { @class = "form-control" } )*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="btn_save" value="Create" class="btn btn-success">Create New</button>
                <button type="button" value="Cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>

        }

<script>
    $("#btn_save").click(function () {
        var item = {
            id: 0,
            skill_name: $("#skill_name").val(),
            skill_level_id: $("#skill_level_id").val(),
            notes: $("#notes").val()
        }
        $.ajax({
            url: '@Url.Action("Create", "Keahlian")',
            type: 'post',
            data: { model: item },
            success: function (result) {
                $("#modal-form").modal("hide");
                ShowList();
            }
        });
    })
</script>
