﻿@model _2.Batch211.ViewModel.KeahlianViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KeahlianViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.skill_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skill_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skill_level_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skill_level_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.id)

        <div class="form-actions no-color">
            <input type="button" value="Delete" title="Delete" class="btn btn-danger" id="btn_save_delete" />
            <input type="button" value="Cancel" title="Cancel" class="btn btn-default" data-dismiss="modal" />
        </div>
    }
</div>

<script>
    $("#btn_save_delete").click(function () {
        var item = {
            id: $("#id").val()
        };

        $.ajax({
            url: '@Url.Action("SaveDelete", "Keahlian")',
            type: 'post',
            data: { model: item },
            success: function (result) {
                if (result.success) {
                    $("#modal-form").modal("hide");
                    ShowList();
                }
                else {
                    $("#modal-footer").show();
                    $("#modal-footer").html(result.message);
                }
            }
        });
    });
</script>