﻿@model _2.Batch211.ViewModel.KeahlianViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        
        <div class="form-group">
            @Html.LabelFor(model => model.skill_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.skill_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.skill_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.skill_level_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("skill_level_id", new SelectList(ViewBag.KeahlianList, "id", "name", "--Pilih--"), new { @class = "form-control" })
                @*@Html.EditorFor(model => model.skill_level_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.skill_level_id, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="btn_save" value="Create" class="btn btn-success">Save</button>
                <button type="button" value="Cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
}

<script>
    $("#btn_save").click(function () {
        var item = {
            id: $("#id").val(),
            skill_name: $("#skill_name").val(),
            skill_level_id: $("#skill_level_id").val(),
            notes: $("#notes").val()
        };
        alert("message");
        $.ajax({
            url: '@Url.Action("SaveEdit", "Keahlian")',
            type: 'post',
            data: { model: item },
            success: function (result) {
                if (result.success) {
                    $("#modal-form").modal("hide");
                    ShowList();
                }
                else {
                    $("#modal-footer").show();
                    $("#modal-footer").html(result.message);
                }
            }
        });
    })
</script>