﻿@model IEnumerable<_2.Batch211.ViewModel.KeahlianViewModel>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.skill_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skill_level_id)
        </th>
        <th>
            #
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.skill_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeahlianName)
        </td>
        <td>
            <button type="button" value="Edit" class="btn_edit_grid btn btn-warning" data-id="@item.id" title="Edit">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button type="button" value="Delete" class="btn_delete_grid btn btn-danger" data-id="@item.id" title="Delete">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
}

</table>

<script>
    $(".btn_edit_grid").click(function () {
        $("#modal-title").html("Keahlian");
        $("#modal-body").html(progHtml);
        $("#modal-form").modal("show");

        $.ajax({
            url: '@Url.Action("Edit", "Keahlian")',
            type: 'get',
            data: { Id: $(this).attr("data-id") },
            success: function (result) {
                $("#modal-body").html(result);
            }
        });

    });

    $("#btn-add").click(function () {
            $("#modal-title").html("Variants");
            $("#modal-body").html(progHtml);
            $("#modal-form").modal("show");

            $.ajax({
                url: '@Url.Action("Create", "Variants")',
                type: 'get',
                success: function (result) {
                    $("#modal-body").html(result);
                }
            })
        });

    $(".btn_delete_grid").click(function () {
        $("#modal-title").html("Are you sure want to delete this Categories?");
        $("#modal-body").html(progHtml);
        $("#modal-form").modal("show");

        $.ajax({
            url: '@Url.Action("Delete", "Keahlian")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $("#modal-body").html(result);
            }
        });
    });
</script>