﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebApplication</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")
    @Styles.Render("~/AdminLTE/plugins/datepicker/css")

</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-mini"><b>W</b>eb</span>
                <span class="logo-lg"><b>XSIS 2.0</b></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Index", "Home")" style="color:#ffffff">
                                Menu 1&emsp;
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Menu 1.1 </a>
                                </li>
                                <li>
                                    <a href="#">Menu 1.2 </a>
                                </li>
                                <li>
                                    <a href="#">Menu 1.3 </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Index", "Home")" style="color:#ffffff">
                                Menu 2 &emsp;<span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Menu 2.1</a>
                                </li>
                                <li>
                                    <a href="#">Menu 2.2</a>
                                </li>
                                <li>
                                    <a href="#">Menu 2.3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Index", "Home")" style="color:#ffffff">
                                Menu 3 &emsp;<span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Menu 3.1</a>
                                </li>
                                <li>
                                    <a href="#">Menu 3.2</a>
                                </li>
                                <li>
                                    <a href="#">Menu 3.3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-custom-menu">

                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">15</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 15 notifications</li>
                                    <li>
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                    page and may cause design problems
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-red"></i> 5 new members joined
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user text-red"></i> You changed your username
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Index", "Home")" style="color:#ffffff">
                                    Hi, Lulut &emsp;<span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Menu 3.1</a>
                                    </li>
                                    <li>
                                        <a href="#">Menu 3.2</a>
                                    </li>
                                    <li>
                                        <a href="#">Menu 3.3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">MENU</li>
                    <li id="left-sidebar-menu-database" class="treeview">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-home text-black text-bold"></i>
                            <span>Beranda</span>
                        </a>
                    </li>

                    <li id="left-sidebar-menu-dollar" class="treeview">
                        <a href="@Url.Action("Index", "Pelamar")">
                            <i class="glyphicon glyphicon-user text-black text-bold"></i>
                            <span>Pelamar</span>
                        </a>
                    </li>
                    <li id="left-sidebar-menu-elements" class="treeview">
                        <a href="#">
                            <i class="fa fa-list"></i>
                            <span>Proses Pelamar</span>
                        </a>
                    </li>
                    <li id="left-sidebar-menu-forms" class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Penjadwalan</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-forms-general"><a href="#"><i class="fa fa-circle-o"></i> Menu 4.1</a></li>
                            <li id="left-sidebar-menu-forms-advanced"><a href="#"><i class="fa fa-circle-o"></i> Menu 4.2</a></li>
                            <li id="left-sidebar-menu-forms-editors"><a href="#"><i class="fa fa-circle-o"></i> Menu 4.2</a></li>
                        </ul>
                    </li>

                    <li id="left-sidebar-menu-examples" class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i>
                            <span>Tes</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-examples-invoice"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.1 </a></li>
                            <li id="left-sidebar-menu-examples-profileex"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.2</a></li>
                            <li id="left-sidebar-menu-examples-login"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.3</a></li>
                            <li id="left-sidebar-menu-examples-register"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.4</a></li>
                            <li id="left-sidebar-menu-examples-lockscreen"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.5</a></li>
                        </ul>
                    </li>
                    <li id="left-sidebar-menu-examples" class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i>
                            <span>Bootcamp</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-examples-invoice"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.1 </a></li>
                            <li id="left-sidebar-menu-examples-profileex"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.2</a></li>
                            <li id="left-sidebar-menu-examples-login"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.3</a></li>
                            <li id="left-sidebar-menu-examples-register"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.4</a></li>
                            <li id="left-sidebar-menu-examples-lockscreen"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.5</a></li>
                        </ul>
                    </li>
                    <li id="left-sidebar-menu-examples" class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i>
                            <span>Laporan</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-examples-invoice"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.1 </a></li>
                            <li id="left-sidebar-menu-examples-profileex"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.2</a></li>
                            <li id="left-sidebar-menu-examples-login"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.3</a></li>
                            <li id="left-sidebar-menu-examples-register"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.4</a></li>
                            <li id="left-sidebar-menu-examples-lockscreen"><a href="#"><i class="fa fa-circle-o"></i> Menu 5.5</a></li>
                        </ul>
                    </li>
                </ul>

            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <strong>&copy; 2020 | PT. Xsis Mitra Utama.</strong>
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>

    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
    @Scripts.Render("~/AdminLTE/plugins/fastclick/js")
    @Scripts.Render("~/Scripts/Shared/_Layout")
    @Scripts.Render("~/AdminLTE/dist/js")
    @Scripts.Render("~/AdminLTE/plugins/datepicker/js")
    @RenderSection("scripts", required: false)
</body>
</html>