﻿@model _2.Batch211.ViewModel.DokumenViewModel

@using (Html.BeginForm("Create", "Dokumen", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.file_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.file_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.file_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.file_path, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    <input id="fileupload" type="file" name="fileupload" @*accept="text/x-csv"*@ required/>
                @*<td width="100px">
                    <input type="button" id="btn_upload" value="Upload" onclick="uploadFile()" />
                </td>*@
                @*<input type="file" name="ImageFile" id="ImageFile" required />*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="btn_upload" value="Upload" class="btn btn-success" onclick="uploadFile()">Create New</button>
                <button type="button" value="Cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
<script>
    $("#btn_upload").click(function () {
    if (window.FormData == undefined)
        alert("Error: FormData is undefined");

    else {
        
        var fileUpload = $("#fileupload").get(0);
        var files = fileUpload.files;

        var fileData = new FormData();

        fileData.append(files[0].name, files[0]);

        var item = {
            id: 0,
            file_name: $("#file_name").val(),
            file_path: $("#file_path").val(),
            notes: $("#notes").val()
        }

        $.ajax({
            url: '/Dokumen/UploadFiles',
            type: 'post',
            datatype: 'json',
            contentType: false,
            processData: false,
            async: false,
            data: fileData, item,
            success: function (response) {
                alert(response);
                $("#modal-form").modal("hide");
                ShowList();
            }
        });
    }

});
    //function uploadFile() {
    //    // Checking whether FormData is available in browser
    //    if (window.FormData !== undefined) {
    //        var fileUpload = $("#fileupload").get(0);
    //        var files = fileUpload.files;
    //        // Create FormData object
    //        var fileData = new FormData();
    //        // Looping over all files and add it to FormData object
    //        for (var i = 0; i < files.length; i++) {
    //            fileData.append(files[i].name, files[i]);
    //        }
    //        // Adding one more key to FormData object
    //        //fileData.append('username', ‘Manas’);
    //        $.ajax({
    //            url: 'Dokumen/UploadFiles',
    //            type: "POST",
    //            contentType: false, // Not to set any content header
    //            processData: false, // Not to process data
    //            data: fileData,
    //            success: function (result) {
    //                if (result.split("-")[1] == "true") {
    //                    toastr.success(result.split("-")[0]);
    //                    OnSearch(1);
    //                } else {
    //                    toastr.error(result.split("-")[0], 'Error', { timeOut: 5000 });
    //                }
    //            },
    //            error: function (err) {
    //                toastr.error(err.statusText, 'Error', { timeOut: 5000 });
    //            }
    //        });
    //    } else {
    //        toastr.error("FormData is not supported.", 'Error', { timeOut: 5000 });
    //    }
    //}

    @*$("#btn_save").click(function () {
        var formData = new FormData();
        var totalFiles = document.getElementById("ImageFile").files.length;


        for (var i = 0; i < totalFiles; i++)
            {
                var file = document.getElementById("ImageFile").files[i];
                formData.append("ImageFile", file);
            }

        var item = {
            id: 0,
            file_name: $("#file_name").val(),
            file_path: $("#file_path").val(),
            ImageFile: formData,
            notes: $("#notes").val()
        }
        $.ajax({
            url: '@Url.Action("SaveCreate", "Dokumen")',
            type: 'post',
            data: { file: formData },
            success: function (result) {
                $("#modal-form").modal("hide");
                ShowList();
            }
        });
    })*@
</script>
