﻿@model IEnumerable<_2.Batch211.ViewModel.DokumenViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.file_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.file_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            <button type="button" value="Edit" class="btn_edit_grid btn btn-warning" data-id="@item.id" title="Edit">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button type="button" value="Edit" class="btn_delete_grid btn btn-danger" data-id="@item.id" title="Delete">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(".btn_edit_grid").click(function () {
        $("#modal-title").html("Dokumen");
        $("#modal-body").html(progHtml);
        $("#modal-form").modal("show");


        $.ajax({
            url: '@Url.Action("Edit", "Dokumen")',
            type: 'get',
            data: { id: $(this).attr("data-id")},
            success: function (result) {
                $("#modal-body").html(result);
            }
        });
    });

    $(".btn_delete_grid").click(function () {
        $("#modal-title").html("Are you sure want to delete this Categories?");
        $("#modal-body").html(progHtml);
        $("#modal-form").modal("show");

        $.ajax({
            url: '@Url.Action("Delete", "Dokumen")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $("#modal-body").html(result);
            }
        });
    });
</script>